.centerAllign {
    display: flex;
    justify-content:center;

}

.WorkoutListWrapper {
    display: grid;
    grid-template-columns: 28vw 28vw 28vw;
    gap: 3vw;
    align-items:center;
    width: 90vw;
}