.CardWrapper{
    background-color: rgb(161, 127, 255);
    width: auto;
    height: 300px;
    border-radius: 20px;
    text-decoration : none;
}
.CardWrapper:visited {
    color:inherit;
}
.workou1tCard{
    background-color: rgb(161, 127, 255);
    width: 500px;
    height: 400px;
    border-radius: 20px;
    
    
}
